<ion-view view-title="Browse Music">
  <ion-content>
    <h1>Browse Music</h1>

    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" ng-model="browseMusic.search" placeholder="Search">
      </label>
    </div>

    <ion-list ng-repeat="song in songs | filter:browseMusic.search | orderBy:'title'">
      <a class="item item-thumbnail-left">
        <img ng-src="{{song.albumArtURL}}"/>
        <h2>{{song.title}}</h2>
        <p>{{song.album}}</p>
        <p>{{song.artist}}</p>
      </a>
    </ion-list>

  </ion-content>
</ion-view>
